.body {
    margin: 0;
  }
  .itemBox{
    border-style: solid;
    height: 150PX;
    display: flex ;
    text-align: start;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .Img{
    height: 140px;
    width: 150px;
    padding: 1%;
    padding-right: 10px;
  }
  .labelArea{
    flex: auto;
  }
  .inputArea{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }