
.cart-body{
display: flex;
margin: 10px;
padding: 10px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row; 
  width: 100%;

 
}
.carttextarea{ width: 50PX;
margin: 10px;
}
.cart-items-list{
  flex: 1;
  margin-right: 10px;
  
}
.checkout{
 
  border: 1px solid black;
  width: 100%;
  flex:1;
}

.cart-data-div{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}
.cart-item-name{
  margin-right: auto; 
  font-weight: bold;
}
.checkout h2{
  margin: 0;
}

.chechout-container {
  display: flex;
  justify-content: center;
}

.checkout-button {
  width: 50%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #135f99;
}

.item-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.item-details {
  margin-left: 10px;
  margin: 0;
  flex: auto;
text-align: start;
}

.item-name {
  margin: 2px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
 
}

.item-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
}

.item-price {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.item-actions{
margin-left: 5px;
}
.item-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.cart-list{
  display: flex;
}
.remove-button {
  background-color: #ff0000;
  margin-right: 10px;
}

.update-button {
  background-color: #337ab7;
}

.item-actions button i {
  margin-right: 5px;
}
