/* Style the dropdown menu */
.navbar {
    background-color: #261282; /* Orange background color for the navbar */
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff; /* White text color for the main menu items */
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Set the cursor to a pointer (hand icon) */
  }
  
  .navbar ul li a:hover {
    background-color: #ee7e11; /* Darker orange background color on hover */
    color: #fff; /* White text color on hover */
  }
  
  /* Style the dropdown menu */
  .navbar ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ee7e11; /* Darker orange background color for the dropdown menu */
    display: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); /* Optional box shadow for the dropdown */
    border-radius: 5px; /* Rounded corners for the dropdown */
    z-index: 1; /* Ensure dropdown appears above other content */
  }
  
  /* Style the dropdown submenu items */
  .navbar ul ul li {
    padding: 10px;
  }
  
  
  .navbar ul ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 14px;
    display: block;
    width: 150px; 
    cursor: pointer; 
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar ul ul li a:hover {
    background-color: #8133ff; 
    color: #fff; 
  }
  