.root {
  background-image: url("https://wallpapercave.com/wp/wp4061050.jpg");
}


.product-page {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.product-image-container {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: auto 5px;
  float: left;
  width: 500px;
  height: auto;
  margin-bottom: 50px;
}

.product-details {
  margin-bottom: 10px;
  text-align: left; 
  color: rebeccapurple;
}

.product-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 200px;
  color: brown;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 20px;
}

.comments-heading {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.no-comments {
  font-style: italic;
  margin-bottom: 20px;
  text-align: start;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.comment-item {
  margin-bottom: 20px;
}

.comment-input {
  width: auto;
  padding-top: 2px;
  padding-right: 20px;
  clear: both; 
}

.image-input {
  padding-right: 5px;
}
.product-textarea{
  width: 100%;
}
.comment-textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
}

.add-comment-btn {
  background-color: var(--theme-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.add-comment-btn:hover {
  background-color: #75221a5e;
}
.product-textarea{
  width: 100px;
}
.update-button{
  width: 100px;
}
.comment-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Style for the comment text */
.comment-text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Style for the comment image */
.comment-image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
